body{
    font-family: 'Courier New', Courier, monospace;
    background: linear-gradient(to right ,rgb(165, 162, 162) , rgb(51, 44, 44));
    text-align: center;
}
.nav{
    padding: 56px;
}
.nav a{
    color: rgb(14, 13, 13);
    text-decoration: dotted ;
    background-color: grey;
    padding: 9px;
    border-radius: 30px;
    box-shadow:6px 6px 6px 6px;
}
.nav a:hover{
    color:bisque;
    background-color: black;
}